// Заголовки, общие БЄМ блоки и проче...

[hidden] {
  display: none !important;
}

._md1dn {
  @media (max-width:$pc){
    display: none !important;
  }
}

._mmd1dn {
  @media (min-width:$pc){
    display: none !important;
  }
}

._md2dn {
  @media (max-width:$tablet){
    display: none !important;
  }
}

._mmd2dn {
  @media (min-width:$tablet){
    display: none !important;
  }
}

._md3dn {
  @media (max-width:$mobile){
    display: none !important;
  }
}

._mmd3dn {
  @media (min-width:$mobile){
    display: none !important;
  }
}

._md4dn {
  @media (max-width:$mobileSmall){
    display: none !important;
  }
}

._mmd4dn {
  @media (min-width:$mobileSmall){
    display: none !important;
  }
}

.page {
  @include adaptiveValue("padding-top", 150, 101, 1920, 480, 2);
  @media (max-width:$mobileSmall){
    padding-top: rem(76);
  }
}

.pagehead {
  color: #fff;

  &__wrapper {
    background-color: rgba(0, 0, 0, 0.2);
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: rem(15);
    @include adaptiveValue("padding-top", 40, 20, 1920, 480, 1);
    @include adaptiveValue("padding-bottom", 40, 20, 1920, 480, 1);
  }

  &__title {
    font-weight: 600;
    @include adaptiveValue("font-size", 48, 30);
  }

  &__breadcrumbs {
  }
}
.breadcrumbs {

  &__list {
    display: flex;
    gap: rem(5);
    @include adaptiveValue("font-size", 24, 16);
    li  {
      display: flex;
      gap: rem(5);
      &:not(:last-child) {
        &::after{
          content:'/';
        }
      }
      a {
        @media (any-hover: hover){
          &:hover{
            text-decoration: underline;
          }
        }
      }
    }
  }
}

.green-title {
  text-align: center;
  color: #fff;
  font-weight: 700;
  @include adaptiveValue("font-size", 24, 16);
  border-radius: rem(20);
  background-color: #57BB3F;
  transition: all 0.3s ease 0s;
  padding: rem(15);
  @media (any-hover: hover){
    &:hover{
      background-color: #3b832a;
    }
  }
}