//====================================================================================================

.page {
}
.main__block__container {
	background-image: url(../img/mainback.png);
	width: 1512px;
	height: 776px;
}
.main__title h1{
	font-size:20px;
}
.main__search__form {
}
.main__text {
}
.main__block__container img {
	flex: 0 1 auto;
}

.rubriki__container {
display: flex;
justify-content: space-between;
gap:20px;
}
.rubriki__item {
	display: flex;
	flex-direction: column;
	width: 424px;
height: 363px;
justify-content: space-around;
align-items: center;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 20px;
}

h3 {
	font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 39px;
/* identical to box height */

text-align: center;
letter-spacing: -0.01em;

/* 2 */

color: #425C5A;
}

.rubriki__item__btn {
	background: linear-gradient(90deg, #56BB3E 7.67%, #425C5A 100%);
	border-radius: 20px;
	height: 60px;
	width: 202px;
	font-family: 'Arial';
font-weight: 700;
font-size: 20px;
color: #FFFFFF;
}


.popular__container {
	padding-top: 50px;
	display: flex;
	flex-direction: column;
	background-image: url(../img/popular.png)
}
.popular__tittle {
	padding-bottom: 50px;
}
.popular__tittle h4 {
	font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 48px;
line-height: 59px;
/* identical to box height */

text-align: center;
letter-spacing: -0.01em;

color: #000000;
}
.popular__grid {
	display: grid;
	grid-template-columns: 1fr 2fr;
	column-gap: 62px;
	padding-left: 100px;
	padding-right: 100px;
	align-items:center;
}
.popular__grid__reviews {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap:20px;
	row-gap: 20px;
	align-items:center;
}
.popular__grid__reviews__item {
	display: grid;
	grid-template-columns: 1fr 2fr;
	background: #FFFFFF;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
	border-radius: 20px;
	padding-left: 10px;
	padding-top:20px;
	padding-bottom: 20px;

}
.popular__grid__reviews__item__grid {

}

.popular__grid__reviews__item__grid__item {
	
}
.popular__item__tittle {
}
.popular__item__stars {
}
.popular__item__comments {
}

.comments__container {
	padding-top: 100px;
}

.comments__tittle {
	font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 36px;
line-height: 44px;
/* identical to box height */

text-align: center;
letter-spacing: -0.01em;
padding-bottom: 50px;
}
.comments_blocks__wrapper{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	column-gap:20px;
	padding-bottom: 100px;
	
}
.comments__blocks {
	background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 20px;
}
.comments__blocks__item {

}
.comments__blocks__item__top {
	display:flex;
	background: #57BB3F;
border-radius: 20px;

}
.__item__top__img {
}
.__item__top__textblock {
}
.__top__textblock__text {
	padding-top: 16px;
	font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;
letter-spacing: -0.01em;

color: #FFFFFF;
}
.__top__textblock__stars {
}
.comments__blocks__item__bot {
	display: flex;
	flex-direction: column;
	align-items:center;
}


.__bot__textblock__img {
	padding-top: 11px;
	padding-bottom: 5px;
}
.__bot__textblock__name {
padding-bottom: 25px;;
	font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;
letter-spacing: -0.01em;
}
.__bot__textblock__review {
	align-self: flex-start;
	padding-bottom: 83px;
	font-family: 'Montserrat';
font-style: italic;
font-weight: 500;
font-size: 16px;
line-height: 20px;
/* identical to box height */

letter-spacing: -0.01em;
}

.big__btns__container {
	display:flex;
	background: url(../img/backgrbot.png)
}
.big__btns_wrapper {
	padding-top: 78px;
	padding-bottom: 78px;
	display: grid;
	column-gap:20px;
	grid-template-columns: 1fr 1fr 1fr;
}
.big__btns__item {
	display: flex;
	flex-direction: column;
	align-items:center;
	background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 20px;
}
.big_btns__item__img {
	padding-top: 26px;
	padding-bottom: 20px;
}
.big_btns__item__tittle {
	font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 39px;
/* identical to box height */

text-align: center;
letter-spacing: -0.01em;

/* 2 */

color: #425C5A;
}
.big_btns__item__text {
	padding-top: 30px;
	font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
text-align: center;
letter-spacing: -0.01em;
}




//====================================================================================================
