//====================================================================================================

.page {
}
.main__block__container {
	background-image: url(../img/mainback.png);
	width: 1512px;
	height: 776px;
}
.main__title h1{
	font-size:20px;
}
.main__search__form {
}
.main__text {
}
.main__block__container img {
	flex: 0 1 auto;
}

.rubriki__container {
display: flex;
justify-content: space-between;
gap:20px;
@include adaptiveValue("padding-bottom", 100, 20);
}
.rubriki__container h3 {
	@include adaptiveValue("font-size", 32, 12);
	font-family: 'Montserrat';
	font-weight: 600;
	text-align: center;
	color: #425C5A;
}
.rubriki__item {
	display: flex;
	flex-direction: column;
	width: 424px;
	height: 363px;
justify-content: space-around;
align-items: center;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 20px;
row-gap: 10px;
}

@media only screen and  (max-width: 1080px) {
	.rubriki__item{
		flex: 1 1 auto;
		height:auto;
	}
	.rubriki__item img{
		width: 100%;
	}
	.rubriki__container {
		gap:10px;
		justify-content: space-between;
	}

} 

@media only screen and (max-width:768px) {
.rubriki__item a {
	@include adaptiveValue("font-size", 20, 12);
	width:95%;
}
.rubriki__item__btn {
	width: 160px;
}
}

@media only screen and (max-width:605px){
.rubriki__container {
	flex-direction: column;
}
.rubriki__item{
	width:auto;
}
.rubriki__item a {
	font-size: 16px;
	width:202px;
}
.rubriki__item h3 {
	font-size: 24px;;
}
.rubriki__item img {
	width: 60%;;
}
}

h3 {
	
font-style: normal;

font-size: 32px;
/* identical to box height */


letter-spacing: -0.01em;

/* 2 */


}

h5 {

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	@include adaptiveValue("font-size", 16, 12);
}


.rubriki__item__btn {
	background: linear-gradient(90deg, #56BB3E 7.67%, #425C5A 100%);
	border-radius: 20px;
	height: 60px;
  display: flex;
  justify-content:center;align-items: center;
	width: 202px;
	font-family: 'Arial';
  font-weight: 700;
  font-size: 20px;
  color: #FFFFFF;
  @media (any-hover: hover){
    &:hover{
      background: $greengradReverse;
    }
  }
}


.popular__container {
	padding-top: 50px;
	display: flex;
	flex-direction: column;
	
}
.popular__tittle {
	@include adaptiveValue("padding-bottom", 50, 10);
}
.popular__tittle h4 {
	font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
@include adaptiveValue("font-size", 48, 24);
/* identical to box height */

text-align: center;
letter-spacing: -0.01em;

color: #000000;
}
.popular__grid {
	display: flex;
	column-gap: 62px;
	align-items:center;
	padding-bottom: 10px;
	padding-left: 50px;
	flex:0 1 auto;
}

.puplar__grid__img{
	display: flex;
	flex:0 1 auto;
	width: 28%;
}

@media (max-width:1024px){
	.puplar__grid__img{
		display:none;
	}
	.popular__grid{
		display: flex;
    column-gap: 62px;
    align-items: center;
    padding-bottom: 10px;
    padding-left: 0;
    flex: 0 1 auto;
    flex-wrap: nowrap;
    justify-content: center;
	}
	
}

@media (max-width:768px){
	.popular__grid__reviews__item img{
		height: 100%;
	}
	.popular__item__stars img{
		@include adaptiveValue("height", 22, 12)
	}
	.popular__item__comments a{
		@include adaptiveValue("font-size", 16, 12)
	}
}

.popular__grid__reviews {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap:20px;
	row-gap: 20px;
	align-items:center;
}
.popular__grid__reviews__item {
	display: flex;
	background: #FFFFFF;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
	border-radius: 20px;
	padding-left: 10px;
	padding-top:20px;
	padding-bottom: 20px;
	gap: 18px;
	flex:0 1 auto;

}
@media (max-width:600px){
	.popular__grid__reviews{
		display: flex;
		flex-direction: column;

	}
	}
.popular__grid__reviews__item__grid {

}

.popular__grid__reviews__item__grid__item {
	
}
.popular__item__tittle {
	padding-right: 10px;
}
.popular__item__stars {
	padding-top: 20px;
	padding-bottom: 15px;
}
.popular__item__comments {
}

.comments__container {
	padding-top: 100px;
}

.comments__tittle {
	font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 36px;
/* identical to box height */

text-align: center;
letter-spacing: -0.01em;
padding-bottom: 50px;
}
.comments_blocks__wrapper{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	column-gap:20px;
	@include adaptiveValue("padding-bottom", 100, 20);
	
}
.comments__blocks {
	background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 20px;
}
.comments__blocks__item {

}
.comments__blocks__item__top {
	display:flex;
	background: #57BB3F;
border-radius: 20px;

}
.__item__top__img img {
	height: 100%;
}
.__item__top__textblock {
	padding-left: 20px;
}
.__top__textblock__text {
	padding-top: 16px;
	font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 16px;
letter-spacing: -0.01em;

color: #FFFFFF;
}
.__top__textblock__stars {
	padding-top: 25px;

}
.__top__textblock__stars  img{
	@include adaptiveValue("height", 22, 12)
}
.comments__blocks__item__bot {
	display: flex;
	flex-direction: column;
	align-items:center;
}


.__bot__textblock__img {
	padding-top: 11px;
	padding-bottom: 5px;
}
.__bot__textblock__name {
padding-bottom: 25px;;
	font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 20px;
letter-spacing: -0.01em;
}
.__bot__textblock__review {
	align-self: flex-start;
	padding-bottom: 83px;
	font-family: 'Montserrat';
font-style: italic;
font-weight: 500;
font-size: 16px;
padding-left: 10px;
/* identical to box height */

letter-spacing: -0.01em;
}

.big__btns__container {
	display:flex;
	justify-content: center;
	
}
.big__btns_wrapper {
	@include adaptiveValue("padding-top", 78, 20);
	@include adaptiveValue("padding-bottom", 78, 20);
	display: grid;
	column-gap:20px;
	grid-template-columns: 1fr 1fr 1fr;
}
.big__btns__item {
	display: flex;
	flex-direction: column;
	align-items:center;
	background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 20px;
}
.big_btns__item__img {
	padding-top: 26px;
	padding-bottom: 20px;
}
.big_btns__item__tittle {
	font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
@include adaptiveValue("font-size", 32, 22);
@include adaptiveValue("min-height", 78, 44);
padding-left: 10px;
/* identical to box height */

text-align: center;
letter-spacing: -0.01em;

/* 2 */

color: #425C5A;
}
.big_btns__item__text {
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 16px;
text-align: center;
letter-spacing: -0.01em;
@include adaptiveValue("padding-bottom", 35, 10);
}

.big__btns {
	@include adaptiveValue("margin-bottom", 100, 20);
}


@media screen and (max-width:1024px) {
	.comments_blocks__wrapper {
		display: grid;
		grid-template-columns: 1fr 1fr;
		column-gap: 20px;
		row-gap: 20px;
		@include adaptiveValue("padding-bottom", 100, 20);
	}
	.__bot__textblock__review{
		padding-bottom: 20px;
		padding-left: 5px;
	}
	
}

@media screen and (max-width:500px) {
	.comments_blocks__wrapper {
		display: grid;
		grid-template-columns: 1fr;
		column-gap: 20px;
		row-gap: 20px;
	}
	.__bot__textblock__review{
		padding-bottom: 20px;
		padding-left: 5px;
	}
	
}

@media screen and (max-width:768px) {
	.big__btns_wrapper {
		padding-top: 78px;
		padding-bottom: 82px;
		display: flex;
		column-gap: 20px;
		grid-template-columns: 1fr;
		row-gap: 20px;
		flex-direction: column;
		flex-wrap: nowrap;
		align-items: stretch;
	}
	.big__btns__container{
	}
}
//====================================================================================================


.rubriki {

  &__item {
    display: flex;
    flex-direction: column;
    @include adaptiveValue("padding-top", 30, 15, 1920, 480, 1);
    @include adaptiveValue("padding-left", 30, 15, 1920, 480, 1);
    @include adaptiveValue("padding-right", 30, 15, 1920, 480, 1);
    @include adaptiveValue("padding-bottom", 30, 15, 1920, 480, 1);
    justify-content: space-between;
  }
}

//=============================================================================================
:root {
  @include adaptiveValue("--hdrhgh", 150, 101, 1920, 480, 2);
}
.search {
	display:flex;
  // height: calc(100vh - var(--hdrhgh));
  background-repeat: no-repeat;
  background-color: rgb(232, 238, 254);
  background-position: top center;
  &:not(:last-child) {
    @include adaptiveValue("margin-bottom", 100, 40);
  }

  &__container {
    @include adaptiveValue("padding-top", 140, 50);
    @include adaptiveValue("padding-bottom", 111, 50);
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: rem(865);
  }

  &__head {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 80, 30);
    }
  }

  &__title {
    @include adaptiveValue("font-size", 88, 20);
    text-align: center;
  }

  &__form {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: rem(646);
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 100, 30);
    }
  }

  &__input {
    border-radius: rem(999999);
    border: 1px solid #C8C8C8;
    @include adaptiveValue("padding-top", 23, 15, 1920, 767, 1);
    @include adaptiveValue("padding-bottom", 23, 15, 1920, 767, 1);
    @include adaptiveValue("padding-left", 37, 15, 1920, 767, 1);
    padding-right: rem(95);
    width: 100%;
    &::placeholder {
      color:#000;
    }
    &._form-error {
      border-color: red;
      &::placeholder {
        color:red;
      }
    }
  }

  &__button {
    flex: 0 0 rem(80);
    width: rem(80);
    height: rem(80);
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    img {
      width: 100%;
      height: 100%;
    }
  }

  &__text {
    @include adaptiveValue("font-size", 32, 16);
    text-align: center;
  }
}
